@page
@model Salto.Pages.RoleUserAdmin.CreateRoleModel
@{
    ViewData["Title"] = "Create Role";
}

<div class="text-center menugroup mx-0 mb-3">
    <div class="row">
        <div class="col-3 col-md-2 d-flex center">
            <a href="javascript:void(0);" onclick="goBack()"><span class=""><i class="fas fa-arrow-circle-left fa-3x aturq my-auto"></i></span></a>
        </div>
        <div class="col-6 col-md-8">
            <h1 class="swe">Skapa Roll</h1>
            <h1 class="eng">Create Role</h1>
            <h4 class="swe"><p>(twAdmin, twCustomer)</p></h4>
            <h4 class="eng"><p>(twAdmin, twCustomer)</p></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 mx-auto">

        <form method="post">
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <input type="submit" value="Spara" class="btn btn-lg btn-dark btn-block mx-auto mb-2 swe" />
            <input type="submit" value="Create" class="btn btn-lg btn-dark btn-block mx-auto mb-2 eng" />
        </form>
    </div>
</div>