
  @*   <span class="language-selector d-flex justify-content-end d-inline">
        <button id="swedish-btn" class="languageBtn bodybgcolor"><img src="~/Images/swFlag.png" height="26px" alt="Swedish" /></button>
        <button id="english-btn" class="languageBtn bodybgcolor"><img src="~/Images/ukFlag.png" height="26px" alt="English" /></button>
    </span> *@


